html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;

  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$Nunito: 'Nunito Sans', sans-serif;

canvas {
  display: block;
  margin: 0 auto;
}
